body {
  --rem-divisor: 16;
  --rem-return-unit: 1rem;
  
  --negative-10px: -0.625rem;
  --negative-9px: -0.5625rem;
  --negative-8px: -0.5rem;
  --negative-7px: -0.4375rem;
  --negative-6px: -0.375rem;
  --negative-5px: -0.3125rem;
  --negative-4px: -0.25rem;
  --negative-3px: -0.1875rem;
  --negative-2px: -0.125rem;
  --negative-1px: -0.0625rem;
  --1px: 0.0625rem;
  --2px: 0.125rem;
  --3px: 0.1875rem;
  --4px: 0.25rem;
  --5px: 0.3125rem;
  --6px: 0.375rem;
  --7px: 0.4375rem;
  --8px: 0.5rem;
  --9px: 0.5625rem;
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26px: 1.625rem;
  --27px: 1.6875rem;
  --28px: 1.75rem;
  --29px: 1.8125rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --35px: 2.1875rem;
  --36px: 2.25rem;
  --38px: 2.375rem;
  --40px: 2.5rem;
  --41px: 2.5625rem;
  --42px: 2.625rem;
  --44px: 2.75rem;
  --45px: 2.8125rem;
  --46px: 2.875rem;
  --48px: 3rem;
  --49px: 3.0625rem;
  --50px: 3.125rem;
  --52px: 3.25rem;
  --56px: 3.5rem;
  --60px: 3.75rem;
  --64px: 4rem;
  --68px: 4.25rem;
  --70px: 4.375rem;
  --72px: 4.5rem;
  --76px: 4.75rem;
  --80px: 5rem;
  --88px: 5.5rem;
  --90px: 5.625rem;
  --96px: 6rem;
  --100px: 6.25rem;
  --105px: 6.5625rem;
  --120px: 7.5rem;
  --128px: 8rem;
  --144px: 9rem;
  --152px: 9.5rem;
  --180px: 11.25rem;
  --200px: 12.5rem;
  --208px: 13rem;
  --220px: 13.75rem;
  --240px: 15rem;
  --256px: 16rem;
  --280px: 17.5rem;
  --288px: 18rem;
  --296px: 18.5rem;
  --322px: 20.125rem;
  --328px: 20.5rem;
  --400px: 25rem;
  --500px: 31.25rem;

  --ut-size-1: var(--4px);
  --ut-size-2: var(--8px);
  --ut-size-3: var(--12px);
  --ut-size-4: var(--16px);
  --ut-size-5: var(--20px);
  --ut-size-6: var(--24px);
  --ut-size-7: var(--28px);
  --ut-size-8: var(--32px);
  --ut-size-9: var(--36px);
  --ut-size-10: var(--40px);
  --ut-size-11: var(--44px);
  --ut-size-12: var(--48px);
  --ut-radii-1: var(--2px);
  --ut-radii-2: var(--4px);
  --ut-radii-2-5: var(--5px);
  --ut-radii-3: var(--6px);
  --ut-radii-4: var(--8px);
  --ut-radii-5: var(--10px);
  --ut-radii-6: var(--12px);
  --ut-radii-7: var(--16px);
  --ut-radii-8: var(--20px);
  --ut-radii-9: var(--24px);
  --ut-radii-round: calc(666 / var(--rem-divisor) * var(--rem-return-unit));
  --ut-border-size-1: 1px;
  --ut-border-size-2: 2px;

  --_ut-grey1100: 32, 32, 32;
  --_ut-grey1000: 100, 100, 100;
  --_ut-grey900: 131, 131, 131;
  --_ut-grey800: 141, 141, 141;
  --_ut-grey700: 187, 187, 187;
  --_ut-grey600: 206, 206, 206;
  --_ut-grey500: 217, 217, 217;
  --_ut-grey400: 224, 224, 224;
  --_ut-grey300: 232, 232, 232;
  --_ut-grey200: 240, 240, 240;
  --_ut-grey100: 249, 249, 249;
  --_ut-grey50: 252, 252, 252;
  --_ut-grey25: 252, 252, 252;
  --_ut-alphaGrey50: 0, 0, 0, 0.0118;
  --_ut-alphaGrey100: 0, 0, 0, 0.0235;
  --_ut-alphaGrey200: 0, 0, 0, 0.0588;
  --_ut-alphaGrey300: 0, 0, 0, 0.0902;
  --_ut-alphaGrey400: 0, 0, 0, 0.1216;
  --_ut-alphaGrey500: 0, 0, 0, 0.149;
  --_ut-alphaGrey600: 0, 0, 0, 0.1922;
  --_ut-alphaGrey700: 0, 0, 0, 0.2667;
  --_ut-alphaGrey800: 0, 0, 0, 0.4471;
  --_ut-alphaGrey900: 0, 0, 0, 0.4863;
  --_ut-alphaGrey1000: 0, 0, 0, 0.6078;
  --_ut-alphaGrey1100: 0, 0, 0, 0.8745;

  --_ut-white: 255, 255, 255;

  --_ut-black: 0, 0, 0;

  --_ut-purple1100: 43, 33, 106;
  --_ut-purple1000: 90, 67, 214;
  --_ut-purple900: 85, 62, 208;
  --_ut-purple800: 96, 73, 231;
  --_ut-purple700: 155, 152, 253;
  --_ut-purple600: 182, 182, 255;
  --_ut-purple500: 202, 203, 255;
  --_ut-purple400: 217, 218, 255;
  --_ut-purple300: 229, 230, 255;
  --_ut-purple200: 240, 241, 255;
  --_ut-purple100: 248, 248, 255;
  --_ut-purple50: 253, 253, 255;
  --_ut-neonBlue1100: 31, 45, 92;
  --_ut-neonBlue1000: 52, 81, 178;
  --_ut-neonBlue900: 58, 92, 204;
  --_ut-neonBlue800: 62, 99, 221;
  --_ut-neonBlue700: 141, 164, 239;
  --_ut-neonBlue600: 174, 192, 245;
  --_ut-neonBlue500: 198, 212, 249;
  --_ut-neonBlue400: 217, 226, 252;
  --_ut-neonBlue300: 230, 237, 254;
  --_ut-neonBlue200: 240, 244, 255;
  --_ut-neonBlue100: 248, 250, 255;
  --_ut-neonBlue50: 253, 253, 254;

  --_ut-azureBlue1100: 17, 50, 100;
  --_ut-azureBlue1000: 11, 104, 203;
  --_ut-azureBlue900: 8, 128, 234;
  --_ut-azureBlue800: 0, 145, 255;
  --_ut-azureBlue700: 94, 176, 239;
  --_ut-azureBlue600: 150, 199, 242;
  --_ut-azureBlue500: 183, 217, 248;
  --_ut-azureBlue400: 206, 231, 254;
  --_ut-azureBlue300: 225, 240, 255;
  --_ut-azureBlue200: 237, 246, 255;
  --_ut-azureBlue100: 245, 250, 255;
  --_ut-azureBlue50: 251, 253, 255;

  --_ut-teal1100: 13, 61, 56;
  --_ut-teal1000: 6, 122, 111;
  --_ut-teal900: 14, 152, 136;
  --_ut-teal800: 18, 165, 148;
  --_ut-teal700: 83, 185, 171;
  --_ut-teal600: 141, 206, 195;
  --_ut-teal500: 175, 223, 215;
  --_ut-teal400: 199, 235, 229;
  --_ut-teal300: 217, 243, 238;
  --_ut-teal200: 231, 249, 245;
  --_ut-teal100: 241, 252, 250;
  --_ut-teal50: 250, 254, 253;

  --_ut-mint1100: 5, 69, 58;
  --_ut-mint1000: 0, 123, 101;
  --_ut-mint900: 0, 180, 153;
  --_ut-mint800: 22, 192, 164;
  --_ut-mint700: 20, 191, 164;
  --_ut-mint600: 106, 211, 188;
  --_ut-mint500: 142, 227, 206;
  --_ut-mint400: 168, 239, 221;
  --_ut-mint300: 193, 246, 232;
  --_ut-mint200: 217, 250, 241;
  --_ut-mint100: 241, 252, 249;
  --_ut-mint50: 248, 254, 252;

  --_ut-green1125: 25, 59, 45;
  --_ut-green1100: 25, 59, 45;
  --_ut-green1000: 24, 121, 78;
  --_ut-green900: 41, 151, 100;
  --_ut-green800: 48, 164, 108;
  --_ut-green700: 91, 185, 140;
  --_ut-green600: 146, 206, 172;
  --_ut-green500: 180, 223, 196;
  --_ut-green400: 204, 235, 215;
  --_ut-green300: 221, 243, 228;
  --_ut-green200: 233, 249, 238;
  --_ut-green100: 242, 252, 245;
  --_ut-green50: 251, 254, 252;
  --_ut-green25: 251, 254, 252;

  --_ut-yellow1100: 79, 52, 34;
  --_ut-yellow1000: 145, 89, 48;
  --_ut-yellow900: 255, 186, 26;
  --_ut-yellow800: 255, 197, 61;
  --_ut-yellow700: 214, 163, 92;
  --_ut-yellow600: 228, 187, 120;
  --_ut-yellow500: 245, 208, 140;
  --_ut-yellow400: 255, 224, 161;
  --_ut-yellow300: 255, 236, 183;
  --_ut-yellow200: 255, 243, 208;
  --_ut-yellow100: 255, 249, 237;
  --_ut-yellow50: 254, 253, 251;

  --_ut-orange1100: 88, 45, 29;
  --_ut-orange1000: 153, 84, 58;
  --_ut-orange900: 237, 95, 0;
  --_ut-orange800: 247, 104, 8;
  --_ut-orange700: 237, 138, 92;
  --_ut-orange600: 255, 170, 125;
  --_ut-orange500: 255, 194, 145;
  --_ut-orange400: 255, 211, 164;
  --_ut-orange300: 255, 224, 187;
  --_ut-orange200: 255, 237, 213;
  --_ut-orange100: 254, 248, 244;
  --_ut-orange50: 254, 252, 251;

  --_ut-red1100: 100, 23, 35;
  --_ut-red1000: 198, 42, 47;
  --_ut-red900: 217, 61, 66;
  --_ut-red800: 229, 72, 77;
  --_ut-red700: 235, 144, 145;
  --_ut-red600: 243, 174, 175;
  --_ut-red500: 249, 198, 198;
  --_ut-red400: 253, 216, 216;
  --_ut-red300: 255, 229, 229;
  --_ut-red200: 255, 239, 239;
  --_ut-red100: 255, 247, 247;
  --_ut-red50: 255, 252, 252;

  --_ut-pink1100: 98, 22, 57;
  --_ut-pink1000: 203, 29, 99;
  --_ut-pink900: 220, 49, 117;
  --_ut-pink800: 233, 61, 130;
  --_ut-pink700: 229, 143, 177;
  --_ut-pink600: 237, 173, 200;
  --_ut-pink500: 244, 198, 219;
  --_ut-pink400: 249, 216, 231;
  --_ut-pink300: 252, 229, 240;
  --_ut-pink200: 254, 239, 246;
  --_ut-pink100: 255, 247, 251;
  --_ut-pink50: 255, 252, 253;

  --_ut-violet1100: 83, 25, 93;
  --_ut-violet1000: 156, 43, 173;
  --_ut-violet900: 164, 60, 180;
  --_ut-violet800: 171, 74, 186;
  --_ut-violet700: 207, 145, 216;
  --_ut-violet600: 223, 175, 227;
  --_ut-violet500: 235, 200, 237;
  --_ut-violet400: 243, 217, 244;
  --_ut-violet300: 249, 229, 249;
  --_ut-violet200: 252, 239, 252;
  --_ut-violet100: 255, 248, 255;
  --_ut-violet50: 254, 252, 255;

  --_ut-brown1100: 67, 48, 43;
  --_ut-brown1000: 125, 94, 84;
  --_ut-brown900: 148, 116, 103;
  --_ut-brown800: 161, 128, 114;
  --_ut-brown700: 191, 160, 148;
  --_ut-brown600: 209, 185, 176;
  --_ut-brown500: 224, 206, 199;
  --_ut-brown400: 234, 221, 215;
  --_ut-brown300: 242, 232, 228;
  --_ut-brown200: 248, 241, 238;
  --_ut-brown100: 253, 248, 246;
  --_ut-brown50: 253, 252, 252;

  --_ut-black1100: 30, 31, 36;
  --_ut-black1000: 98, 99, 107;
  --_ut-black900: 45, 45, 50;
  --_ut-black800: 0, 0, 0;
  --_ut-black700: 185, 187, 197;
  --_ut-black600: 205, 206, 214;
  --_ut-black500: 217, 218, 224;
  --_ut-black400: 224, 225, 230;
  --_ut-black300: 231, 232, 236;
  --_ut-black200: 240, 240, 243;
  --_ut-black100: 249, 249, 251;
  --_ut-black50: 252, 252, 253;

  --ut-grey1100: rgb(var(--_ut-grey1100));
  --ut-grey1000: rgb(var(--_ut-grey1000));
  --ut-grey1000-90: rgb(var(--_ut-grey1000), 0.9);
  --ut-grey1000-70: rgb(var(--_ut-grey1000), 0.7);
  --ut-grey1000-50: rgb(var(--_ut-grey1000), 0.5);
  --ut-grey1000-20: rgb(var(--_ut-grey1000), 0.2);
  --ut-grey1000-16: rgb(var(--_ut-grey1000), 0.16);
  --ut-grey1000-10: rgb(var(--_ut-grey1000), 0.1);
  --ut-grey1000-078: rgb(var(--_ut-grey1000), 0.078);
  --ut-grey900: rgb(var(--_ut-grey900));
  --ut-grey800: rgb(var(--_ut-grey800));
  --ut-grey700: rgb(var(--_ut-grey700));
  --ut-grey600: rgb(var(--_ut-grey600));
  --ut-grey500: rgb(var(--_ut-grey500));
  --ut-grey400: rgb(var(--_ut-grey400));
  --ut-grey300: rgb(var(--_ut-grey300));
  --ut-grey200: rgb(var(--_ut-grey200));
  --ut-grey100: rgb(var(--_ut-grey100));
  --ut-grey100-50: rgb(var(--_ut-grey100), 0.5);
  --ut-grey50: rgb(var(--_ut-grey50));
  --ut-grey25: rgb(var(--_ut-grey25));

  --ut-alphaGrey50: rgb(var(--_ut-alphaGrey50));
  --ut-alphaGrey100: rgb(var(--_ut-alphaGrey100));
  --ut-alphaGrey200: rgb(var(--_ut-alphaGrey200));
  --ut-alphaGrey300: rgb(var(--_ut-alphaGrey300));
  --ut-alphaGrey400: rgb(var(--_ut-alphaGrey400));
  --ut-alphaGrey500: rgb(var(--_ut-alphaGrey500));
  --ut-alphaGrey600: rgb(var(--_ut-alphaGrey600));
  --ut-alphaGrey700: rgb(var(--_ut-alphaGrey700));
  --ut-alphaGrey800: rgb(var(--_ut-alphaGrey800));
  --ut-alphaGrey900: rgb(var(--_ut-alphaGrey900));
  --ut-alphaGrey1000: rgb(var(--_ut-alphaGrey1000));
  --ut-alphaGrey1100: rgb(var(--_ut-alphaGrey1100));

  --ut-white: rgb(var(--_ut-white));
  --ut-white-90: rgb(var(--_ut-white), 0.9);
  --ut-white-80: rgb(var(--_ut-white), 0.8);
  --ut-white-078: rgb(var(--_ut-white), 0.078);
  --ut-white-069: rgb(var(--_ut-white), 0.069);
  --ut-white-60: rgb(var(--_ut-white), 0.662);
  --ut-white-50: rgb(var(--_ut-white), 0.5);
  --ut-white-30: rgb(var(--_ut-white), 0.312);
  --ut-white-20: rgb(var(--_ut-white), 0.2);
  --ut-white-16: rgb(var(--_ut-white), 0.16);
  --ut-white-13: rgb(var(--_ut-white), 0.134);
  --ut-white-10: rgb(var(--_ut-white), 0.1);
  --ut-white-06: rgb(var(--_ut-white), 0.069);
  --ut-white-03: rgb(var(--_ut-white), 0.034);

  --ut-green1125: rgb(var(--_ut-green1125));
  --ut-green1100: rgb(var(--_ut-green1100));
  --ut-green1000: rgb(var(--_ut-green1000));
  --ut-green900: rgb(var(--_ut-green900));
  --ut-green800: rgb(var(--_ut-green800));
  --ut-green700: rgb(var(--_ut-green700));
  --ut-green600: rgb(var(--_ut-green600));
  --ut-green500: rgb(var(--_ut-green500));
  --ut-green400: rgb(var(--_ut-green400));
  --ut-green300: rgb(var(--_ut-green300));
  --ut-green200: rgb(var(--_ut-green200));
  --ut-green100: rgb(var(--_ut-green100));
  --ut-green50: rgb(var(--_ut-green50));
  --ut-green25: rgb(var(--_ut-green25));

  --ut-yellow1100: rgb(var(--_ut-yellow1100));
  --ut-yellow1000: rgb(var(--_ut-yellow1000));
  --ut-yellow900: rgb(var(--_ut-yellow900));
  --ut-yellow800: rgb(var(--_ut-yellow800));
  --ut-yellow700: rgb(var(--_ut-yellow700));
  --ut-yellow600: rgb(var(--_ut-yellow600));
  --ut-yellow500: rgb(var(--_ut-yellow500));
  --ut-yellow400: rgb(var(--_ut-yellow400));
  --ut-yellow300: rgb(var(--_ut-yellow300));
  --ut-yellow200: rgb(var(--_ut-yellow200));
  --ut-yellow100: rgb(var(--_ut-yellow100));
  --ut-yellow50: rgb(var(--_ut-yellow50));

  --ut-red1100: rgb(var(--_ut-red1100));
  --ut-red1000: rgb(var(--_ut-red1000));
  --ut-red900: rgb(var(--_ut-red900));
  --ut-red800: rgb(var(--_ut-red800));
  --ut-red800-16: rgb(var(--_ut-red800), 0.16);
  --ut-red700: rgb(var(--_ut-red700));
  --ut-red600: rgb(var(--_ut-red600));
  --ut-red600-16: rgb(var(--_ut-red600), 0.16);
  --ut-red500: rgb(var(--_ut-red500));
  --ut-red500-16: rgb(var(--_ut-red500), 0.16);
  --ut-red400: rgb(var(--_ut-red400));
  --ut-red300: rgb(var(--_ut-red300));
  --ut-red200: rgb(var(--_ut-red200));
  --ut-red100: rgb(var(--_ut-red100));
  --ut-red50: rgb(var(--_ut-red50));

  --ut-purple1100: rgb(var(--_ut-purple1100));
  --ut-purple1000: rgb(var(--_ut-purple1000));
  --ut-purple900: rgb(var(--_ut-purple900));
  --ut-purple800: rgb(var(--_ut-purple800));
  --ut-purple700: rgb(var(--_ut-purple700));
  --ut-purple600: rgb(var(--_ut-purple600));
  --ut-purple600-16: rgb(var(--_ut-purple600), 0.16);
  --ut-purple500: rgb(var(--_ut-purple500));
  --ut-purple500-16: rgb(var(--_ut-purple500), 0.16);
  --ut-purple400: rgb(var(--_ut-purple400));
  --ut-purple300: rgb(var(--_ut-purple300));
  --ut-purple200: rgb(var(--_ut-purple200));
  --ut-purple100: rgb(var(--_ut-purple100));
  --ut-purple50: rgb(var(--_ut-purple50));

  --ut-neonBlue1100: rgb(var(--_ut-neonBlue1100));
  --ut-neonBlue1000: rgb(var(--_ut-neonBlue1000));
  --ut-neonBlue900: rgb(var(--_ut-neonBlue900));
  --ut-neonBlue800: rgb(var(--_ut-neonBlue800));
  --ut-neonBlue700: rgb(var(--_ut-neonBlue700));
  --ut-neonBlue600: rgb(var(--_ut-neonBlue600));
  --ut-neonBlue600-16: rgb(var(--_ut-neonBlue600), 0.16);
  --ut-neonBlue500: rgb(var(--_ut-neonBlue500));
  --ut-neonBlue500-16: rgb(var(--_ut-neonBlue500), 0.16);
  --ut-neonBlue400: rgb(var(--_ut-neonBlue400));
  --ut-neonBlue300: rgb(var(--_ut-neonBlue300));
  --ut-neonBlue200: rgb(var(--_ut-neonBlue200));
  --ut-neonBlue100: rgb(var(--_ut-neonBlue100));
  --ut-neonBlue50: rgb(var(--_ut-neonBlue50));

  --ut-azureBlue1100: rgb(var(--_ut-azureBlue1100));
  --ut-azureBlue1000: rgb(var(--_ut-azureBlue1000));
  --ut-azureBlue900: rgb(var(--_ut-azureBlue900));
  --ut-azureBlue800: rgb(var(--_ut-azureBlue800));
  --ut-azureBlue700: rgb(var(--_ut-azureBlue700));
  --ut-azureBlue600: rgb(var(--_ut-azureBlue600));
  --ut-azureBlue600-16: rgb(var(--_ut-azureBlue600), 0.16);
  --ut-azureBlue500: rgb(var(--_ut-azureBlue500));
  --ut-azureBlue500-16: rgb(var(--_ut-azureBlue500), 0.16);
  --ut-azureBlue400: rgb(var(--_ut-azureBlue400));
  --ut-azureBlue300: rgb(var(--_ut-azureBlue300));
  --ut-azureBlue200: rgb(var(--_ut-azureBlue200));
  --ut-azureBlue100: rgb(var(--_ut-azureBlue100));
  --ut-azureBlue50: rgb(var(--_ut-azureBlue50));

  --ut-teal1100: rgb(var(--_ut-teal1100));
  --ut-teal1000: rgb(var(--_ut-teal1000));
  --ut-teal900: rgb(var(--_ut-teal900));
  --ut-teal800: rgb(var(--_ut-teal800));
  --ut-teal700: rgb(var(--_ut-teal700));
  --ut-teal600: rgb(var(--_ut-teal600));
  --ut-teal600-16: rgb(var(--_ut-teal600), 0.16);
  --ut-teal500: rgb(var(--_ut-teal500));
  --ut-teal500-16: rgb(var(--_ut-teal500), 0.16);
  --ut-teal400: rgb(var(--_ut-teal400));
  --ut-teal300: rgb(var(--_ut-teal300));
  --ut-teal200: rgb(var(--_ut-teal200));
  --ut-teal100: rgb(var(--_ut-teal100));
  --ut-teal50: rgb(var(--_ut-teal50));

  --ut-mint1100: rgb(var(--_ut-mint1100));
  --ut-mint1000: rgb(var(--_ut-mint1000));
  --ut-mint900: rgb(var(--_ut-mint900));
  --ut-mint800: rgb(var(--_ut-mint800));
  --ut-mint700: rgb(var(--_ut-mint700));
  --ut-mint600: rgb(var(--_ut-mint600));
  --ut-mint600-16: rgb(var(--_ut-mint600), 0.16);
  --ut-mint500: rgb(var(--_ut-mint500));
  --ut-mint500-16: rgb(var(--_ut-mint500), 0.16);
  --ut-mint400: rgb(var(--_ut-mint400));
  --ut-mint300: rgb(var(--_ut-mint300));
  --ut-mint200: rgb(var(--_ut-mint200));
  --ut-mint100: rgb(var(--_ut-mint100));
  --ut-mint50: rgb(var(--_ut-mint50));

  --ut-orange1100: rgb(var(--_ut-orange1100));
  --ut-orange1000: rgb(var(--_ut-orange1000));
  --ut-orange900: rgb(var(--_ut-orange900));
  --ut-orange800: rgb(var(--_ut-orange800));
  --ut-orange700: rgb(var(--_ut-orange700));
  --ut-orange600: rgb(var(--_ut-orange600));
  --ut-orange600-16: rgb(var(--_ut-orange600), 0.16);
  --ut-orange500: rgb(var(--_ut-orange500));
  --ut-orange500-16: rgb(var(--_ut-orange500), 0.16);
  --ut-orange400: rgb(var(--_ut-orange400));
  --ut-orange300: rgb(var(--_ut-orange300));
  --ut-orange200: rgb(var(--_ut-orange200));
  --ut-orange100: rgb(var(--_ut-orange100));
  --ut-orange50: rgb(var(--_ut-orange50));

  --ut-pink1100: rgb(var(--_ut-pink1100));
  --ut-pink1000: rgb(var(--_ut-pink1000));
  --ut-pink900: rgb(var(--_ut-pink900));
  --ut-pink800: rgb(var(--_ut-pink800));
  --ut-pink700: rgb(var(--_ut-pink700));
  --ut-pink600: rgb(var(--_ut-pink600));
  --ut-pink600-16: rgb(var(--_ut-pink600), 0.16);
  --ut-pink500: rgb(var(--_ut-pink500));
  --ut-pink500-16: rgb(var(--_ut-pink500), 0.16);
  --ut-pink400: rgb(var(--_ut-pink400));
  --ut-pink300: rgb(var(--_ut-pink300));
  --ut-pink200: rgb(var(--_ut-pink200));
  --ut-pink100: rgb(var(--_ut-pink100));
  --ut-pink50: rgb(var(--_ut-pink50));

  --ut-violet1100: rgb(var(--_ut-violet1100));
  --ut-violet1000: rgb(var(--_ut-violet1000));
  --ut-violet900: rgb(var(--_ut-violet900));
  --ut-violet800: rgb(var(--_ut-violet800));
  --ut-violet800-14: rgb(var(--_ut-violet800), 0.14);
  --ut-violet700: rgb(var(--_ut-violet700));
  --ut-violet600: rgb(var(--_ut-violet600));
  --ut-violet600-16: rgb(var(--_ut-violet600), 0.16);
  --ut-violet500: rgb(var(--_ut-violet500));
  --ut-violet500-16: rgb(var(--_ut-violet500), 0.16);
  --ut-violet400: rgb(var(--_ut-violet400));
  --ut-violet300: rgb(var(--_ut-violet300));
  --ut-violet200: rgb(var(--_ut-violet200));
  --ut-violet100: rgb(var(--_ut-violet100));
  --ut-violet50: rgb(var(--_ut-violet50));

  --ut-brown1100: rgb(var(--_ut-brown1100));
  --ut-brown1000: rgb(var(--_ut-brown1000));
  --ut-brown900: rgb(var(--_ut-brown900));
  --ut-brown800: rgb(var(--_ut-brown800));
  --ut-brown700: rgb(var(--_ut-brown700));
  --ut-brown600: rgb(var(--_ut-brown600));
  --ut-brown600-16: rgb(var(--_ut-brown600), 0.16);
  --ut-brown500: rgb(var(--_ut-brown500));
  --ut-brown500-16: rgb(var(--_ut-brown500), 0.16);
  --ut-brown400: rgb(var(--_ut-brown400));
  --ut-brown300: rgb(var(--_ut-brown300));
  --ut-brown200: rgb(var(--_ut-brown200));
  --ut-brown100: rgb(var(--_ut-brown100));
  --ut-brown50: rgb(var(--_ut-brown50));

  --ut-black1100: rgb(var(--_ut-black1100));
  --ut-black1100-055: rgb(var(--_ut_black1100), 0.055);
  --ut-black1000: rgb(var(--_ut-black1000));
  --ut-black900: rgb(var(--_ut-black900));
  --ut-black800: rgb(var(--_ut-black800));
  --ut-black700: rgb(var(--_ut-black700));
  --ut-black600: rgb(var(--_ut-black600));
  --ut-black600-16: rgb(var(--_ut-black600), 0.16);
  --ut-black500: rgb(var(--_ut-black500));
  --ut-black500-16: rgb(var(--_ut-black500), 0.16);
  --ut-black400: rgb(var(--_ut-black400));
  --ut-black300: rgb(var(--_ut-black300));
  --ut-black200: rgb(var(--_ut-black200));
  --ut-black100: rgb(var(--_ut-black100));
  --ut-black50: rgb(var(--_ut-black50));
  --ut-black: rgb(var(--_ut-black));
  --ut-black-90: rgb(var(--_ut-black), 0.875);
  --ut-black-60: rgb(var(--_ut-black), 0.608);
  --ut-black-40: rgb(var(--_ut-black), 0.447);
  --ut-black-20: rgb(var(--_ut-black), 0.267);
  --ut-black-16: rgb(var(--_ut-black), 0.169);
  --ut-black-13: rgb(var(--_ut-black), 0.133);

  --ut-background-overlay: rgba(var(--_ut-grey1000), 0.56);
  --ut-background-overlay-light: rgba(var(--_ut-grey1000), 0.32);
  --ut-elevation-1: 0 var(--1px) var(--2px) rgba(0, 0, 0, 0.055);
  --ut-elevation-2: 0 var(--1px) var(--3px) rgba(0, 0, 0, 0.106),
    0 var(--1px) var(--2px) var(--negative-1px) rgba(0, 0, 0, 0.106);
  --ut-elevation-3: 0 var(--4px) var(--6px) var(--negative-1px)
      rgba(0, 0, 0, 0.106),
    0 var(--2px) var(--4px) var(--negative-2px) rgba(0, 0, 0, 0.106);
  --ut-elevation-4: 0 var(--10px) var(--15px) var(--negative-3px)
      rgba(0, 0, 0, 0.106),
    0 var(--4px) var(--6px) var(--negative-4px) rgba(0, 0, 0, 0.106);
  --ut-elevation-5: 0 var(--20px) var(--25px) var(--negative-5px)
      rgba(0, 0, 0, 0.106),
    0 var(--8px) var(--10px) var(--negative-6px) rgba(0, 0, 0, 0.106);
  --ut-elevation-heavy: 0 var(--16px) var(--48px) rgba(0, 0, 0, 0.24),
    0 var(--24px) var(--96px) rgba(0, 0, 0, 0.24);
}

body.ut-purple {
  --ut-background-primary: var(--ut-purple800);
  --ut-background-primary-hover: var(--ut-purple900);
  --ut-background-primary-pressed: var(--ut-purple1000);
  --ut-background-primary-disabled: var(--ut-purple700);
  --ut-background-primary-dark: var(--ut-purple1100);
  --ut-background-primary-subtle: var(--ut-purple200);
  --ut-background-primary-on-subtle: var(--ut-purple300);
  --ut-background-primary-on-subtle-hover: var(--ut-purple400);
  --ut-content-primary: var(--ut-purple1000);
  --ut-border-primary: var(--ut-purple800);
  --ut-border-primary-fouts: var(--ut-purple900);
  --ut-border-primary-low-contrast: var(--ut-purple400);
  --ut-effect-primary: var(--ut-purple600-16);
  --ut-link-primary: var(--ut-purple800);
  --ut-link-primary-hover: var(--ut-purple900);
  --ut-global-gradient-color: var(--ut-purple400);
  --ut-illustration-primary-1: var(--ut-purple100);
  --ut-illustration-primary-2: var(--ut-purple400);
  --ut-illustration-primary-3: var(--ut-purple600);
  --ut-illustration-primary-4: var(--ut-purple700);
  --ut-chart-completed: var(--ut-purple800);
  --ut-chart-completed-daily: var(--ut-purple400);
}

body.ut-azureBlue {
  --ut-background-primary: var(--ut-azureBlue800);
  --ut-background-primary-hover: var(--ut-azureBlue900);
  --ut-background-primary-pressed: var(--ut-azureBlue1000);
  --ut-background-primary-disabled: var(--ut-azureBlue700);
  --ut-background-primary-dark: var(--ut-azureBlue1100);
  --ut-background-primary-subtle: var(--ut-azureBlue200);
  --ut-background-primary-on-subtle: var(--ut-azureBlue300);
  --ut-background-primary-on-subtle-hover: var(--ut-azureBlue400);
  --ut-content-primary: var(--ut-azureBlue1000);
  --ut-border-primary: var(--ut-azureBlue800);
  --ut-border-primary-fouts: var(--ut-azureBlue900);
  --ut-border-primary-low-contrast: var(--ut-azureBlue400);
  --ut-effect-primary: var(--ut-azureBlue600-16);
  --ut-link-primary: var(--ut-azureBlue800);
  --ut-link-primary-hover: var(--ut-azureBlue900);
  --ut-global-gradient-color: var(--ut-azureBlue400);
  --ut-illustration-primary-1: var(--ut-azureBlue100);
  --ut-illustration-primary-2: var(--ut-azureBlue400);
  --ut-illustration-primary-3: var(--ut-azureBlue600);
  --ut-illustration-primary-4: var(--ut-azureBlue700);
  --ut-chart-completed: var(--ut-azureBlue800);
  --ut-chart-completed-daily: var(--ut-azureBlue400);
}

body.ut-pink {
  --ut-background-primary: var(--ut-pink800);
  --ut-background-primary-hover: var(--ut-pink900);
  --ut-background-primary-pressed: var(--ut-pink1000);
  --ut-background-primary-disabled: var(--ut-pink700);
  --ut-background-primary-dark: var(--ut-pink1100);
  --ut-background-primary-subtle: var(--ut-pink200);
  --ut-background-primary-on-subtle: var(--ut-pink300);
  --ut-background-primary-on-subtle-hover: var(--ut-pink400);
  --ut-content-primary: var(--ut-pink1000);
  --ut-border-primary: var(--ut-pink800);
  --ut-border-primary-fouts: var(--ut-pink900);
  --ut-border-primary-low-contrast: var(--ut-pink400);
  --ut-effect-primary: var(--ut-pink600-16);
  --ut-link-primary: var(--ut-pink800);
  --ut-link-primary-hover: var(--ut-pink900);
  --ut-global-gradient-color: var(--ut-pink400);
  --ut-illustration-primary-1: var(--ut-pink100);
  --ut-illustration-primary-2: var(--ut-pink400);
  --ut-illustration-primary-3: var(--ut-pink600);
  --ut-illustration-primary-4: var(--ut-pink700);
  --ut-chart-completed: var(--ut-pink800);
  --ut-chart-completed-daily: var(--ut-pink400);
}

body.ut-violet {
  --ut-background-primary: var(--ut-violet800);
  --ut-background-primary-hover: var(--ut-violet900);
  --ut-background-primary-pressed: var(--ut-violet1000);
  --ut-background-primary-disabled: var(--ut-violet700);
  --ut-background-primary-dark: var(--ut-violet1100);
  --ut-background-primary-subtle: var(--ut-violet200);
  --ut-background-primary-on-subtle: var(--ut-violet300);
  --ut-background-primary-on-subtle-hover: var(--ut-violet400);
  --ut-content-primary: var(--ut-violet1000);
  --ut-border-primary: var(--ut-violet800);
  --ut-border-primary-fouts: var(--ut-violet900);
  --ut-border-primary-low-contrast: var(--ut-violet400);
  --ut-effect-primary: var(--ut-violet600-16);
  --ut-link-primary: var(--ut-violet800);
  --ut-link-primary-hover: var(--ut-violet900);
  --ut-global-gradient-color: var(--ut-violet400);
  --ut-illustration-primary-1: var(--ut-violet100);
  --ut-illustration-primary-2: var(--ut-violet400);
  --ut-illustration-primary-3: var(--ut-violet600);
  --ut-illustration-primary-4: var(--ut-violet700);
  --ut-chart-completed: var(--ut-violet800);
  --ut-chart-completed-daily: var(--ut-violet400);
}

body.ut-neonBlue {
  --ut-background-primary: var(--ut-neonBlue800);
  --ut-background-primary-hover: var(--ut-neonBlue900);
  --ut-background-primary-pressed: var(--ut-neonBlue1000);
  --ut-background-primary-disabled: var(--ut-neonBlue700);
  --ut-background-primary-dark: var(--ut-neonBlue1100);
  --ut-background-primary-subtle: var(--ut-neonBlue200);
  --ut-background-primary-on-subtle: var(--ut-neonBlue300);
  --ut-background-primary-on-subtle-hover: var(--ut-neonBlue400);
  --ut-content-primary: var(--ut-neonBlue1000);
  --ut-border-primary: var(--ut-neonBlue800);
  --ut-border-primary-fouts: var(--ut-neonBlue900);
  --ut-border-primary-low-contrast: var(--ut-neonBlue400);
  --ut-effect-primary: var(--ut-neonBlue600-16);
  --ut-link-primary: var(--ut-neonBlue800);
  --ut-link-primary-hover: var(--ut-neonBlue900);
  --ut-global-gradient-color: var(--ut-neonBlue400);
  --ut-illustration-primary-1: var(--ut-neonBlue100);
  --ut-illustration-primary-2: var(--ut-neonBlue400);
  --ut-illustration-primary-3: var(--ut-neonBlue600);
  --ut-illustration-primary-4: var(--ut-neonBlue700);
  --ut-chart-completed: var(--ut-neonBlue800);
  --ut-chart-completed-daily: var(--ut-neonBlue400);
}

body.ut-orange {
  --ut-background-primary: var(--ut-orange800);
  --ut-background-primary-hover: var(--ut-orange900);
  --ut-background-primary-pressed: var(--ut-orange1000);
  --ut-background-primary-disabled: var(--ut-orange700);
  --ut-background-primary-dark: var(--ut-orange1100);
  --ut-background-primary-subtle: var(--ut-orange200);
  --ut-background-primary-on-subtle: var(--ut-orange300);
  --ut-background-primary-on-subtle-hover: var(--ut-orange400);
  --ut-content-primary: var(--ut-orange1000);
  --ut-border-primary: var(--ut-orange800);
  --ut-border-primary-fouts: var(--ut-orange900);
  --ut-border-primary-low-contrast: var(--ut-orange400);
  --ut-effect-primary: var(--ut-orange600-16);
  --ut-link-primary: var(--ut-orange800);
  --ut-link-primary-hover: var(--ut-orange900);
  --ut-global-gradient-color: var(--ut-orange400);
  --ut-illustration-primary-1: var(--ut-orange100);
  --ut-illustration-primary-2: var(--ut-orange400);
  --ut-illustration-primary-3: var(--ut-orange600);
  --ut-illustration-primary-4: var(--ut-orange700);
  --ut-chart-completed: var(--ut-orange800);
  --ut-chart-completed-daily: var(--ut-orange400);
}

body.ut-teal {
  --ut-background-primary: var(--ut-teal800);
  --ut-background-primary-hover: var(--ut-teal900);
  --ut-background-primary-pressed: var(--ut-teal1000);
  --ut-background-primary-disabled: var(--ut-teal700);
  --ut-background-primary-dark: var(--ut-teal1100);
  --ut-background-primary-subtle: var(--ut-teal200);
  --ut-background-primary-on-subtle: var(--ut-teal300);
  --ut-background-primary-on-subtle-hover: var(--ut-teal400);
  --ut-content-primary: var(--ut-teal1000);
  --ut-border-primary: var(--ut-teal800);
  --ut-border-primary-fouts: var(--ut-teal900);
  --ut-border-primary-low-contrast: var(--ut-teal400);
  --ut-effect-primary: var(--ut-teal600-16);
  --ut-link-primary: var(--ut-teal800);
  --ut-link-primary-hover: var(--ut-teal900);
  --ut-global-gradient-color: var(--ut-teal400);
  --ut-illustration-primary-1: var(--ut-teal100);
  --ut-illustration-primary-2: var(--ut-teal400);
  --ut-illustration-primary-3: var(--ut-teal600);
  --ut-illustration-primary-4: var(--ut-teal700);
  --ut-chart-completed: var(--ut-teal800);
  --ut-chart-completed-daily: var(--ut-teal400);
}

body.ut-brown {
  --ut-background-primary: var(--ut-brown800);
  --ut-background-primary-hover: var(--ut-brown900);
  --ut-background-primary-pressed: var(--ut-brown1000);
  --ut-background-primary-disabled: var(--ut-brown700);
  --ut-background-primary-dark: var(--ut-brown1100);
  --ut-background-primary-subtle: var(--ut-brown200);
  --ut-background-primary-on-subtle: var(--ut-brown300);
  --ut-background-primary-on-subtle-hover: var(--ut-brown400);
  --ut-content-primary: var(--ut-brown1000);
  --ut-border-primary: var(--ut-brown800);
  --ut-border-primary-fouts: var(--ut-brown900);
  --ut-border-primary-low-contrast: var(--ut-brown400);
  --ut-effect-primary: var(--ut-brown600-16);
  --ut-link-primary: var(--ut-brown800);
  --ut-link-primary-hover: var(--ut-brown900);
  --ut-global-gradient-color: var(--ut-brown400);
  --ut-illustration-primary-1: var(--ut-brown100);
  --ut-illustration-primary-2: var(--ut-brown400);
  --ut-illustration-primary-3: var(--ut-brown600);
  --ut-illustration-primary-4: var(--ut-brown700);
  --ut-chart-completed: var(--ut-brown800);
  --ut-chart-completed-daily: var(--ut-brown400);
}

body.ut-black {
  --ut-background-primary: var(--ut-black800);
  --ut-background-primary-hover: var(--ut-black900);
  --ut-background-primary-pressed: var(--ut-black1000);
  --ut-background-primary-disabled: var(--ut-black700);
  --ut-background-primary-dark: var(--ut-black1100);
  --ut-background-primary-subtle: var(--ut-black200);
  --ut-background-primary-on-subtle: var(--ut-black300);
  --ut-background-primary-on-subtle-hover: var(--ut-black400);
  --ut-content-primary: var(--ut-black1000);
  --ut-border-primary: var(--ut-black800);
  --ut-border-primary-fouts: var(--ut-black900);
  --ut-border-primary-low-contrast: var(--ut-black400);
  --ut-effect-primary: var(--ut-black600-16);
  --ut-link-primary: var(--ut-black800);
  --ut-link-primary-hover: var(--ut-black900);
  --ut-global-gradient-color: var(--ut-black400);
  --ut-illustration-primary-1: var(--ut-black100);
  --ut-illustration-primary-2: var(--ut-black400);
  --ut-illustration-primary-3: var(--ut-black600);
  --ut-illustration-primary-4: var(--ut-black700);
  --ut-chart-completed: var(--ut-black800);
  --ut-chart-completed-daily: var(--ut-black400);
}

body.ut-mint {
  --ut-background-primary: var(--ut-mint800);
  --ut-background-primary-hover: var(--ut-mint900);
  --ut-background-primary-pressed: var(--ut-mint1000);
  --ut-background-primary-disabled: var(--ut-mint700);
  --ut-background-primary-dark: var(--ut-mint1100);
  --ut-background-primary-subtle: var(--ut-mint200);
  --ut-background-primary-on-subtle: var(--ut-mint300);
  --ut-background-primary-on-subtle-hover: var(--ut-mint400);
  --ut-content-primary: var(--ut-mint1000);
  --ut-border-primary: var(--ut-mint800);
  --ut-border-primary-fouts: var(--ut-mint900);
  --ut-border-primary-low-contrast: var(--ut-mint400);
  --ut-effect-primary: var(--ut-mint600-16);
  --ut-link-primary: var(--ut-mint800);
  --ut-link-primary-hover: var(--ut-mint900);
  --ut-global-gradient-color: var(--ut-mint400);
  --ut-illustration-primary-1: var(--ut-mint100);
  --ut-illustration-primary-2: var(--ut-mint400);
  --ut-illustration-primary-3: var(--ut-mint600);
  --ut-illustration-primary-4: var(--ut-mint700);
  --ut-chart-completed: var(--ut-mint800);
  --ut-chart-completed-daily: var(--ut-mint400);
}
